@import 'variables';
aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
        margin: 0;
    }

    div.data {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        textarea {
            resize: vertical;
            min-height: fit-content;
        }

        label {
            &.changed {
                &:after {
                    content: '(ændret)';
                    color: $accent-red;
                    padding-left: .5rem;
                    font-size: .85em;
                }
            }

            &.required {
                &:after {
                    content: '(krævet)';
                    color: $accent-red;
                    padding-left: .5rem;
                    font-size: .85em;
                }
            }
        }
    }


    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: end;
    }
}