/* You can add global styles to this file, and also import other style files */
@import 'variables';




* {
    box-sizing: border-box;
}


body {
    margin: 0;
    color: $text-primary;
    font-family: $font;


}

.hide-print{
    @media print {
        display: none !important;
    }
}

a {
    color: $text-primary;

}


.container {
    margin: 0 auto;
    padding: 2rem 1rem;
    // Minus sidebar 200px
    width: calc(1200px - 200px); // Default width for large screens
  
    @include respond-to(xl) {
      width: calc(1400px - 200px);
    }
  
    @include respond-to(lg) {
      width: calc(1200px - 200px);
    }
  
    @include respond-to(md) {
      width: calc(992px - 200px);
    }
  
    @include respond-to(sm) {
      width: calc(768px - 200px);
    }
  
    @include respond-to(xs) {
      width: calc(480px - 200px);
    }
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
        border: 1px solid $secondary-grey;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $secondary-light-grey;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: $secondary-light-grey-2;
    }
  
    tr:hover {
        background-color: $secondary-grey;
    }
}

button {
    padding: .66em 1em;
    border: none;
    background-color: $primary-dark-blue;
    color: $primary-white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
  
    &:hover {
        background-color: $primary-dark-blue-hover;
    }

    &:disabled {
        background-color: $secondary-grey;
        cursor: not-allowed;
    }

    &.red {
        background-color: $accent-red;
        &:hover {
            background-color: $accent-red-hover;
        }
    }

    &:focus-visible {
        outline-offset: 3px;
    }
}

input:not([type=checkbox]):not([type=radio]), select {
    padding: 10px;
    width: 100%;
    border: 1px solid $secondary-grey;
    border-radius: 5px;
    box-sizing: border-box;
    background: $primary-white;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $secondary-grey;
    border-radius: 3px;
    background-color: $primary-white;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin: 0;

    &:checked {
        background-color: $primary-dark-blue;
        border-color: $primary-dark-blue;
    }

    &:checked::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 12px;
        border: solid $primary-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        scale: 0.75;
    }

    &:hover {
        border-color: $primary-dark-blue-hover;
    }

    &:disabled {
        background-color: $secondary-grey;
        border-color: $secondary-grey;
        cursor: not-allowed;
    }
}



label {
    display: block;
    margin-bottom: 5px;

    &.checkbox-label {
        display: flex;
        align-items: flex-end;
        gap: .5rem;
    }
}