/* You can add global styles to this file, and also import other style files */
@import 'variables';


@page {
    size: 10cm 15cm;
    margin: .5cm;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $text-primary;
    font-family: $font;
}

.hide-print{
    @media print {
        display: none !important;
    }
}

a {
    color: $text-primary;

}


.container {
    margin: 0 auto;
    padding: 2rem 1rem;
    // Minus sidebar 200px
    width: calc(1200px - 200px); // Default width for large screens
  
    @include respond-to(xl) {
      width: calc(1400px - 200px);
    }
  
    @include respond-to(lg) {
      width: calc(1200px - 200px);
    }
  
    @include respond-to(md) {
      width: calc(992px - 200px);
    }
  
    @include respond-to(sm) {
      width: calc(768px - 200px);
    }
  
    @include respond-to(xs) {
      width: calc(480px - 200px);
    }
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
        border: 1px solid $secondary-grey;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $secondary-light-grey;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: $secondary-light-grey-2;
    }
  
    tr:hover {
        background-color: $secondary-grey;
    }
}

button {
    padding: .66em 1em;
    border: none;
    background-color: $primary-dark-blue;
    color: $primary-white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
  
    &:hover {
        background-color: $primary-dark-blue-hover;
    }

    &:disabled {
        background-color: $secondary-grey;
        cursor: not-allowed;
    }
}

input:not([type=checkbox]):not([type=radio]), select {
    padding: 10px;
    width: 100%;
    border: 1px solid $secondary-grey;
    border-radius: 5px;
    box-sizing: border-box;
    background: $primary-white;
}

label {
    display: block;
    margin-bottom: 5px;
}