<div class="container">
    <div class="controls hide-print">
        <div class="filters">
            <div class="company-search">
                <label for="company">Søg på Firma</label>
                <input type="text" id="company" [(ngModel)]="companySearch">
            </div>
            <div class="ean-search">
                <label for="ean">Søg på EAN-nr.</label>
                <input type="text" id="ean" [(ngModel)]="eanSearch">
            </div>
        </div>
        
        <div class="buttons">
            <button class="print" (click)="print()">Print</button>
            <button class="export-data" (click)="addProduct()">Opret Produkt</button>
            <button class="export-data" (click)="export()">Eksporter</button>
            <button class="insert-data" (click)="triggerFileInput()">Importer</button>
        </div>

        <!-- Hidden to make the button handle it -->
        <input hidden type="file" #fileInput accept=".csv" (change)="onFileSelected($event)" />
    </div>

    <table class="products">
        <thead>
            <tr>
                <th>Firma</th>
                <th>EAN-nr.</th>
                <th>Vare Nr</th>
                <th>Produkt</th>
                <th>Titel</th>
                <th>SSCC</th>
                <th>Kolli</th>
                <th>Antal pr. kolli</th>
                <th>Art</th>
                <th class="hide-print" width="10px">Handling</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.company}}</td>
                <td>{{product.EAN}}</td>
                <td>{{product.productNumber}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.title}}</td>
                <td>{{product.SSCCWithoutChecksum}}{{barcodeHelperService.calculateGS1128CheckDigit(product.SSCCWithoutChecksum)}}</td>
                <td>{{product.kolli}}</td>
                <td>{{product.amountPerKolli}}</td>
                <td>{{product.type}}</td>
                <td class="hide-print">
                    <div class="actions">
                        <button class="icon" (click)="editProduct(product)"><i class="bi bi-pencil"></i></button>
                        <button class="red icon" (click)="removeProduct(product)"><i class="bi bi-trash3"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>