<main class="container">
    <div class="printers">
        <div class="printer">
            <label for="label-printer">Valgt label printer</label>
            <div class="label-printer">
                <input type="text" disabled id="label-printer" [value]="labelPrinter?.displayName">
                <button (click)="chooseLabelPrinter()">Vælg</button>
            </div>
        </div>
        <div class="printer">
            <label for="packingslip-printer">Valgt følgeseddel printer</label>
            <div class="packingslip-printer">
                <input type="text" disabled id="packingslip-printer" [value]="packingSlipPrinter?.displayName">
                <button (click)="chooseDeliveryNotePrinter()">Vælg</button>
            </div>
        </div>
    </div>
    <div class="automatic-print-timer">
        <label for="automatic-print-timer">Automatisk print timer (I sekunder)</label>
        <div class="input-group">
            <input min="0" type="number" id="automatic-print-timer" [(ngModel)]="automaticPrintTimer">
            <button (click)="saveAutomaticPrintTimer()" [disabled]="isAutomaticPrintTimerSaved">{{isAutomaticPrintTimerSaved ? 'Gemt' : 'Gem'}}</button>
        </div>
    </div>
    <div class="manual-print-silent">
        <div class="input-group">
            <input type="checkbox" id="manual-print-silent" [(ngModel)]="manualPrintSilent">
            <label for="manual-print-silent">Manuel print uden popup vindue</label>
        </div>
    </div>
</main>

