
.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .printers {
        display: flex;
        flex-direction: row;
        width: 100%;
    
        gap: 2em;
    
        .printer {
            flex-grow: 1;
    
        }
        
        .label-printer, .packingslip-printer {
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }

    .automatic-print-timer {
        .input-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            input {
                padding-right: 75px;
            }
    
            button {
                position: absolute;
                right: 5px;
                width: 65px;
                height: calc(100% - 10px);
                padding: 0;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}