<div class="container">
    <div class="controls hide-print">
        <div class="filters">
            <div class="ordernumber-search">
                <label for="ordernumber">Søg på Ordre nr.</label>
                <input type="text" id="ordernumber" [(ngModel)]="orderNumberSearch">
            </div>
            <div class="title-search">
                <label for="title">Søg på titel</label>
                <input type="text" id="title" [(ngModel)]="titleSearch">
            </div>
        </div>
        
        <div class="buttons">
            <button class="export-data" (click)="addPackingSlip()">Opret Følgeseddel</button>
        </div>
    </div>

    <table class="packing-slips">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ordre nr.</th>
                <th>Titel</th>
                <th>Adresse</th>
                <th>Oprettet</th>
                <th>Printet</th>
                <th>Leverlingsdato</th>
                <th class="hide-print" width="10px">Handling</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let packingSlip of packingSlips">
                <td>{{packingSlip.id}}</td>
                <td>{{packingSlip.orderNumber}}</td>
                <td>{{packingSlip.title}}</td>
                <td>{{packingSlip.address}}</td>
                <td>{{packingSlip.dateCreated | date}}</td>
                <td>{{packingSlip.datePrinted}}</td>
                <td>{{packingSlip.deliveryDate}}</td>
                <td class="hide-print">
                    <div class="actions">
                        <button class="icon" [routerLink]="'/packingslips/'+packingSlip.id"><i class="bi bi-pencil"></i></button>
                        <button class="red icon" (click)="removePackingSlip(packingSlip)"><i class="bi bi-trash3"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>