@import 'variables';
main {
    @media screen {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 0 auto;
        width:fit-content;
        padding: 1rem;
    }

    .print-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400px;
        padding: 1rem;

        .batch-and-best-before {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .print-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .automatic-print {
                display: flex;
                flex-direction: column;
                label {
                    margin: 0;
                }
            }
        }
    }

    .print-container {
        @media screen {
            padding: .5cm;
            border: 1px solid $secondary-grey;
    
        }

        .print {
            @media print {
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
            
            display: grid;
            grid-template-rows: 3.5cm .15cm 3cm .15cm 7.2cm;
            gap: .25cm;
            height: 15cm;
            width: 10cm;
            font-weight: 700;
        
            .title {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
            }
            
            .data {
                font-size: 12pt;
                p {
                    margin: 0;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    gap: .5cm;
                }
                .sscc, .batch, div {
                    margin-bottom: .35cm;
                }
            }
        
            .divider {
                background: black;
            }
        
            .barcodes {
            
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                gap: .25cm;
                transform-origin: top;
                height: auto;
            }
        }
    }

}