<main>
    <div class="print-data hide-print">
        <div class="EAN-search">
            <label for="ean">Stregkode</label>
            <input type="text" id="ean" [(ngModel)]="kolliBarcode">
        </div>
        <div class="select">
            <label for="products">Vælg produkt</label>
            <select id="products" [(ngModel)]="selectedProduct">
                <option *ngFor="let product of products" [ngValue]="product">{{product.title}}</option>
            </select>
        </div>
        <div class="input-group">
            <div class="batch">
                <label for="batch">Batch-nr.</label>
                <input type="text" id="batch" [(ngModel)]="batchNumber">
            </div>
            <div class="best-before">
                <label for="best-before">Bedst før</label>
                <input type="text" id="best-before" [(ngModel)]="expirationDate">
            </div>
        </div>
        <div class="kolli">
            <label for="kolli">Kolli</label>
            <input type="number" id="kolli" [(ngModel)]="kolli">
        </div>
        <div class="print-controls">
            <div class="automatic-print" *ngIf="canAutomaticPrint">
                <label for="automatic-print" class="checkbox-label">
                    <span>
                        Automatisk Print
                    </span>
                    <input type="checkbox" id="automatic-print" [(ngModel)]="automaticPrint">
                </label>
                <span *ngIf="isPrinting">Printer om {{automaticPrintCountdown}}s</span>
            </div>
            <button (click)="print()">Print</button>
        </div>
    </div>
    <div class="print-container">
        <div class="print" >
            <ng-container>
                <div class="title">
                    <span [innerHTML]="selectedProduct?.title?.replaceAll('\\n', '<br>')"></span>
                </div>
                <div class="divider"></div>
                <div class="data">
                    <p class="sscc">SSCC: 
                        <span *ngIf="selectedProduct?.SSCCWithoutChecksum">
                            {{selectedProduct!.SSCCWithoutChecksum + barcodeHelperService.calculateGS1128CheckDigit(selectedProduct!.SSCCWithoutChecksum)}}
                        </span>
                    </p>
                    <div>
                        <p class="ean">EAN-nr.: {{selectedProduct?.EAN}}</p>
                        <p class="amount">Antal: {{kolli}} Kolli</p>
                    </div>
                    <p class="batch">Batch-nr: {{barcodeHelperService.addSeperatorsToDate(batchNumber)}}</p>
                    <p class="best-before">Bedst før: {{barcodeHelperService.addSeperatorsToDate(expirationDate)}}</p>
                </div>
                <div class="divider"></div>
                <div class="barcodes">
                    <canvas class="barcode" id="barcode1"></canvas>
                    <canvas class="barcode" id="barcode2"></canvas>
                    <canvas class="barcode" id="barcode3"></canvas>
                
                </div>
            </ng-container>
        </div>
    </div>
    
</main>